<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tasksetmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tasksetmodel.presentation.TasksetmodelModelWizardID"
            name="%_UI_TasksetmodelModelWizard_label"
            class="tasksetmodel.presentation.TasksetmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TasksetmodelModelFile.gif">
         <description>%_UI_TasksetmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tasksetmodel -->
      <editor
            id="tasksetmodel.presentation.TasksetmodelEditorID"
            name="%_UI_TasksetmodelEditor_label"
            icon="icons/full/obj16/TasksetmodelModelFile.gif"
            extensions="tasksetmodel"
            class="tasksetmodel.presentation.TasksetmodelEditor"
            contributorClass="tasksetmodel.presentation.TasksetmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
