<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tasksetmodel -->
      <package
            uri="http://www.example.org/tasksetmodel"
            class="tasksetmodel.TasksetmodelPackage"
            genModel="model/tasksetmodel.genmodel"/>
   </extension>

</plugin>
